<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="CoreSysExpress.Properties.Settings.ConnectionString"
        connectionString="Dsn=Excel Files;uid=Jenifly" providerName="System.Data.Odbc" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
